@import "./main.scss";

.background {
  background-color: $background-layout;
  z-index: -1;
  width: 100%;
  min-height: 982px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 70px 20px 70px;

  .logo {
    width: 145px;

    @media (min-width: 768px) {
      height: 68px;
    }

    @media (max-width: 768px) {
      width: 120px;
    }

    @media (max-width: 425.5px) {
      width: 90px;
      margin-left: -40px;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 26px;
      font-size: 16px;

      @media (min-width: 768px) {
        gap: 57px;
        font-size: 20px;
      }

      li {
        list-style: none;
      }

      a {
        color: #000;
        text-align: right;
        font-weight: 500;
        text-decoration-line: none;

        &.active {
          text-decoration: underline;
        }

        @media (min-width: 768px) {
          text-transform: none;
        }
      }
    }
  }
}

main {
  padding: 27px 20px;

  @media only screen and (min-width: 992px) {
    padding: 0px 95px;
  }

  @media (min-width: 1024px) {
    padding: 0px 100px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  color: $font-color-footer;
  padding: 3.5em 8em 3.5em 8em;
  font-size: 1.33rem;

  @media (min-width: 768px) {
    padding: 5.67em 0em 5.67em 0em;
  }
  .logo-footer {
    width: 122px;
  }
  p {
    text-align: center;
    min-width: 154px;
    @media (max-width: 601px) {
      font-size: 1rem;
    }
  }
}
