.background {
  background-color: $background-layout;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  @media (min-width: 1440px) {
    min-height: 0vh;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px 60px 0 60px;

  @media (max-width: 768px) {
    padding: 30px 40px 0px 40px;
  }

  @media (max-width: 426px) {
    padding: 30px 10px 0px 10px;
  }

  .logo {
    width: 160px;
    padding-left: 5px;
    @media (min-width: 768px) {
      height: 68px;
    }

    @media (max-width: 768px) {
      width: 120px;
    }

    @media (max-width: 426px) {
      width: 90px;
    }

    @media (min-width: 1024px) {
      width: 180px;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 26px;
      font-size: 16px;

      @media (min-width: 768px) {
        gap: 57px;
        padding-right: 10px;
        font-size: $font-size-desktop;
      }

      @media (min-width: 1024px) {
        font-size: $font-size-desktopXL;
      }

      li {
        list-style: none;
      }

      a {
        color: #000;
        text-align: right;
        font-weight: 500;
        text-decoration-line: none;

        &.active {
          text-decoration: underline;
        }

        @media (min-width: 768px) {
          text-transform: none;
        }
      }
    }
  }
}

main {
  padding: 30px 60px;
  @media (max-width: 768px) {
    padding: 30px 40px;
  }
  @media (max-width: 426px) {
    padding: 30px 5px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  color: $font-color-footer;
  padding: 50px 0px 40px 0px;
  font-size: 1.33rem;
  @media (min-width: 1440px) {
    border-right: inset 55px #fff;
    border-left: outset 55px #fff;
    padding: 72px 0px 74px 0px;
  }
  .logo-footer {
    width: 122px;
  }
  p {
    text-align: center;
    min-width: 154px;
    @media (max-width: 601px) {
      font-size: 1rem;
    }
  }
}
