
$primary-color: #ff6060;
$background-layout: #000;
$font-color-footer: #fff;
$font-family: "Montserrat", sans-serif;
$font-size-mobile: 12px;
$font-size-desktop: 18px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: #fff;
  font-size: $font-size-mobile;
}

@media (min-width: 768px) {
  body {
    font-size: $font-size-desktop;
  }
}

a {
  text-decoration: none;
  color: inherit;
}





