$primary-color: #ff6060;
$background-layout: #000;
$font-color-footer: #fff;
$font-family: "Montserrat", sans-serif;
$font-size-mobile: 12px;
$font-size-desktop: 18px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: #fff;
  font-size: $font-size-mobile;
}

@media (min-width: 768px) {
  body {
    font-size: $font-size-desktop;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: white;
  padding-bottom: 40px;
}

.errorPage {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding: 50px 57px;
  h1 {
    font-size: 96px;
    font-weight: 700;
    color: $primary-color;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    color: $primary-color;
  }
  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    text-align: center;
    h1 {
      font-size: 288px;
    }
    p {
      font-size: 36px;
    }
  }
}
